@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
	margin: 0;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	background: radial-gradient(
		93.37% 320.48% at 98.88% 2.61%,
		#b68b72 0%,
		#deb6a7 49.64%,
		#ce7c46 100%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
