@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
	margin: 0;
	font-family: "Nunito", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

code {
	font-family: "Nunito", sans-serif;
}
